@charset "utf-8";
/* CSS Document */

.navbar-inner {
    background: #8ebc01;
    background: -moz-linear-gradient(top, #8ebc01 0%, #83ac06 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ebc01), color-stop(100%,#83ac06));
    background: -webkit-linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    background: -o-linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    background: -ms-linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    background: linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ebc01', endColorstr='#83ac06');
}

.navbar .divider-vertical {
    border-left-color: #98c806;
    border-right-color: #6f9203;
}

.dropdown-menu li > a:hover {
    background: #8ebc01;
    background: -moz-linear-gradient(top, #8ebc01 0%, #83ac06 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ebc01), color-stop(100%,#83ac06));
    background: -webkit-linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    background: -o-linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    background: -ms-linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    background: linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ebc01', endColorstr='#83ac06');
}

.table thead th {
    background-color: #e4eec4;
}

ul.arm-nav-list li a:hover {
    color: #85b002 !important;
}

.nav-tabs > li > a {
    color: #638200 !important;
}

.main-nav a:hover, .main-nav a.active {
    background: #85b002;
}

.btn:hover {
    background: #8ebc01;
    background: -moz-linear-gradient(top, #8ebc01 0%, #83ac06 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ebc01), color-stop(100%,#83ac06));
    background: -webkit-linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    background: -o-linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    background: -ms-linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    background: linear-gradient(top, #8ebc01 0%,#83ac06 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ebc01', endColorstr='#83ac06');
    color: #f0f0f0;
    text-shadow: 1px 2px 1px #333;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(142, 188, 1, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(142, 188, 1, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(142, 188, 1, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(142, 188, 1, 0.6);
}

.slimScrollBar {
    border-right: 5px solid #ddf497 !important;
}

/* theme icons*/
.btn:hover [class^="icon-"], [class*=" icon-"] {
    color: #ffffff;
}

.btn [class^="icon-"], [class*=" icon-"] {
    color: #8ebc01;
}

.btn-primary [class^="icon-"], [class*=" icon-"] {
    color: #fff;
}
/* theme icons*/

/* tooltip 
.tooltip{opacity: 0; filter: alpha(opacity=0);}
	.tooltip-inner{background-color:#025540;}
	.tooltip.right .tooltip-arrow{border-right-color:#025540;}
	.tooltip.top .tooltip-arrow{border-top-color:#025540;}
	.tooltip.bottom .tooltip-arrow{border-bottom-color:#025540;}
	.tooltip.left .tooltip-arrow{border-left-color:#025540;}  */
/* tooltip */

/*ul.arm-list li:first-child{background-color:rgba(131,172,6,0.65);}*/

/*left nav submenu hover*/
.left-nav .nav-list > li > a:hover {
        color: #f5f5f5;
		background-color:rgba(142,188,1,0.25);
    }
/*left nav submenu hover*/

/* left nav icon anim */
a.accordion-toggle:hover [class^="icon-"]:before {
animation: spinAround 1s ease-out;
color:#8ebc01;
}
 @keyframes spinAround {
 from {
 transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
 @-webkit-keyframes spinAround {
 from {
 transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
/* left nav icon anim ends up */

/* sortable color change */
ul.arm-list li {
        display: block;
        float: left;
        width: 100%;
        padding: 5px 5px;
        border: 1px solid #c0d3ad;
        list-style: none;
        /*background: #e7e7e7;*/
        background:url(../images/bg-sort-green.png) repeat-x top center;
        color: #333;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
		border-radius:3px;
		margin-bottom:3px;
    }
	
	ul.arm-list li.others
	{
		background:url(../images/bg-sort-green-others.png) repeat-x top center !important;
	}
    ul.arm-list li a { color:#638200 !important;}
	
	/*ul.arm-list li.active {
            background:#aad9b8 !important;
        }

        ul.arm-list li.deactive {
            background: #aad9b8 !important;
			opacity:0.5;
        } */
		
		ul.arm-list li.deactive {
            background-color:rgba(170, 217, 184, 0.5) !important;
			background:none;
			color:rgba(0,0,0,0.3);
        }
		ul.arm-list li.deactive div a, ul.arm-list li.deactive span{opacity:0.5;}
		ul.arm-list li.deactive div.tooltip{opacity:0.8 !important;}
/* sortable color change ends */
/* table tr td background style start here */


.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th{background-color:#dbe5b7; border-top:1px solid #d5e0b1; border-bottom:1px solid #d5e0b1;}
.table th, .table td{border-top:1px solid #e3e3e3;}

table .bg-dark1
{
    background-color: #8c9967 !important;
	color:#fff;
}
table .bg-lite1
{
    background-color: #e1e8cf !important;
}

table .bg-dark2
{
    background-color: #a8a8a8 !important;
	color:#2c2c2c;
}
table .bg-lite2
{
    background-color: #eaeaea !important;
}

table .bg-dark3
{
    background-color: #a8c969 !important;
	color:#333;
}
table .bg-lite3
{
    background-color: #f3f7eb !important;
}

table tr.clasy-bgdark {
    background: #aad71f !important;
    background: -moz-linear-gradient(top, #aad71f 0%, #779811 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aad71f), color-stop(100%,#779811)) !important;
    background: -webkit-linear-gradient(top, #aad71f 0%,#779811 100%) !important;
    background: -o-linear-gradient(top, #aad71f 0%,#779811 100%) !important;
    background: -ms-linear-gradient(top, #aad71f 0%,#779811 100%) !important;
    background: linear-gradient(top, #aad71f 0%,#779811 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad71f', endColorstr='#779811') !important ;
	color:#fff;
}


/* table tr td background style ends up */

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span{background-color:#88b403; color:#fff; border-color:#88b403;}

/* jq Grid style start here */
.ui-jqgrid-title{font-size:13px !important; text-indent:10px !important; float:left; }
.ui-jqgrid-view .ui-widget-header{background:#849550 !important; color:#fff;}
.ui-jqgrid-htable .ui-state-default{background:#666 !important; border:1px solid #999 !important; color:#fff !important; padding:2px !important; font-size:12px !important;}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#d0e298 !important; border-color:#bed675 !important;}
.ui-widget-content .ui-state-hover{background:#d7e2b5 !important; border-color:#bdcc91 !important;}
.jqg-third-row-header .ui-state-hover{background:#555 !important;}
.ui-jqgrid tr.ui-row-ltr td{padding:2px !important; font-size:12px !important;}
.ui-jqgrid-bdiv{height:auto !important:}
.grdSubTaskHourlyDashBoardghead_0, .grdCDCHourlyDashBoardghead_0, .grdQueueAssignedRouteDashBoardghead_0, .grdReporteesTimesheetsghead_0{background:#e7e8e9 !important; border-bottom:1px solid #fff !important;}
.jqfoot{color:#11986d !important;}
.footrow{color:#050302 !important;}
.ui-jqgrid-view{width:100% !important;}
.ui-jqgrid-view table{width:100% !important;}
.ui-jqgrid .ui-jqgrid-hbox{padding-right:0px !important;}
.ui-pg-table{background:#849550 !important;}
.ui-pg-table td{color:#fff !important;}
.ui-jqgrid-hdiv{border:none !important;}
.ui-widget-header{border:none !important;}

/* Plus minus icons */
.ui-icon-circlesmall-minus{background:url(../images/icn-minus.png) no-repeat center center !important;}
.ui-icon-circlesmall-plus{background:url(../images/icn-plus.png) no-repeat center center !important;}
/* Plus minus icons ends */
/* jq Grid style ends up */

/* kendo grid style start here */
.k-header a.k-link{color:#fff !important; font-weight:bold !important;}
.k-grid table{border-color:#6eb2ff !important;}
.k-grid table tr:hover{background:#eeffe6 !important;}
.k-grid-header .k-header{background:#83a225 !important; border-color:#e3e3e3 !important;}
.k-grid table tr td{border-top:1px solid #e3e3e3 !important; border-color:#e3e3e3 !important;}

.k-animation-container{background:#83a225 !important;}
.k-dropdown .k-input, .k-selectbox .k-input{background:none;}
.k-dropdown-wrap{background-color:#bddb63 !important; border-color:#b3d450 !important; border-radius: 2px !important;
    margin-bottom: 10px;
    padding: 0 !important;}
.k-dropdown-wrap .k-input{color:#31496e !important;}
.k-pager-wrap{background-color:#b3d450 !important;}
.k-dropdown .k-state-hover{background-color:#8fb41e !important;} 
.k-dropdown .k-state-hover .k-input{color:#fff !important;}
/* kendo grid style ends up */

.radio-g-panel{background-color:rgba(162,223,74,0.62) !important;}